.product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1036px) {
  .product-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-row .product-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 80px;
  margin-right: 8px;
}

@media screen and (max-width: 480px) {
  .product-row .product-parent {
    width: 100%;
  }
}

.product-row .product-parent:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.product-row .product-parent .product {
  background-color: #fff;
  height: 150px;
  width: 200px;
  margin-top: 20px;
  background-size: contain;
  background-position: center;
  position: relative;
}

.product-row .product-parent .product:hover {
  cursor: pointer;
}

.product-row .product-parent .product:hover .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-row .product-parent .product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.product-row .product-parent .product .about {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  display: inline-block;
  width: 100px;
  border: 1px solid #80BB01;
  border-radius: 20px;
  background-color: #80BB01;
  padding: 5px 5px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 20;
}

.product-row .product-parent .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #dddddd;
  width: 200px;
  background-color: #fff;
}

.product-row .product-parent .info .product-category {
  color: black;
  text-transform: capitalize;
  font-weight: 800;
  font: normal 15px 'Cookie', cursive;
}

.product-row .product-parent .info .product-name {
  color: black;
  text-transform: capitalize;
  font-weight: 800;
  font: normal 16px 'Cookie', cursive;
  padding-top: 5px;
}

.product-row .product-parent .info .product-price {
  color: black;
  text-transform: capitalize;
}

.product-row .product-parent .info .short-desc {
  color: black;
  text-transform: capitalize;
  font-weight: 600;
  font: normal 16px 'Cookie', cursive;
  padding-top: 5px;
}
/*# sourceMappingURL=Product.css.map */