.product-info-route
    margin-top: 100px
    
    .product-menu
        display: flex
        .product-menu-item
            list-style: none
            margin-right: 15px
            .product-link
                text-transform: capitalize
                text-decoration: none
                color: black
                font-weight: 500
                font: normal 16px 'Cookie', cursive
            i 
                font-size: 15px
