.contact-form
    display: flex
    justify-content: space-between
    margin-top: 20px
    .contact-us
        width: 30%
        .contact-menu
            .contact-menu-items
                list-style: none
                padding: 10px 0
                .contact-header
                    font-size: 22px
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
                    display: flex
                    i
                        margin-right: 5px

                .contact-text
                    font-size: 15px
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
                    font-weight: 500
    .message
        width: 50%
        button
            width: 100px
            display: flex
            justify-content: center
            border: 1px solid #dddddd
            padding: 10px 5px
            margin-top: 20px
            border-radius: 5px
            &:focus
                outline: none !important
            &:hover
                background-color: #80BB01
                color: white
                
                


