.App
    background-color: #F5F5F5
    background-size: cover
    background-repeat: no-repeat
    
    
    .media

        @media screen and ( max-width: 1071px )
            display: flex
            flex-wrap: wrap
        .Category
            margin-top: 20px
            width: 20%
            @media screen and ( max-width: 1071px )
                width: 100%
            
                

    