.App
    background-color: #F5F5F5
    background-size: cover
    background-repeat: no-repeat
    
    
    .media

        @media screen and ( max-width: 1071px )
            display: flex
            flex-wrap: wrap
        .Category
            margin-top: 20px
            width: 20%
            position: sticky
            top: 100px
            @media screen and ( max-width: 1071px )
                width: 100%
                position: sticky
                top: 0
                z-index: 100
            
                

    